In [28]:
import numpy as np

import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt

from sklearn import preprocessing, svm

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [29]:
dp = r"C:\Users\anany\Downloads\archive\House_Rent_Dataset.csv"
hd = pd.read_csv(dp, index_col="Posted On")
hd.head()

,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
Posted On,,,,,,,,,,,
2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [30]:
X=hd.drop(['Rent'], axis=1)
y=hd['Rent']

In [31]:
#find categorical variables
categorical = [var for var in hd.columns if hd[var].dtype=='O']
hd[categorical].head()

,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Point of Contact
Posted On,,,,,,,
2022-05-18,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,Contact Owner
2022-05-13,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,Contact Owner
2022-05-16,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,Contact Owner
2022-07-04,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,Contact Owner
2022-05-09,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,Contact Owner

In [32]:
X = X.drop(['Point of Contact'],axis=1)

In [33]:
floors = pd.get_dummies(X['Floor'], drop_first=True)

In [34]:
areas = pd.get_dummies(X['Area Type'], drop_first=True)

In [35]:
locality = pd.get_dummies(X['Area Locality'], drop_first=True)

In [36]:
cities = pd.get_dummies(X['City'], drop_first=True)

In [37]:
furnish = pd.get_dummies(X['Furnishing Status'], drop_first=True)

In [38]:
tenant = pd.get_dummies(X['Tenant Preferred'], drop_first=True)

In [39]:
X = X.drop(['Floor', 'Area Type', 'Area Locality', 'City', 'Furnishing Status', 'Tenant Preferred'],axis=1)
X.head()

            BHK  Size  Bathroom
Posted On
2022-05-18    2  1100         2
2022-05-13    2   800         1
2022-05-16    2  1000         1
2022-07-04    2   800         1
2022-05-09    2   850         1

In [40]:
X = pd.concat([furnish, floors, areas, locality, cities, tenant, X], axis=1)

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)


regr = LinearRegression()

regr.fit(X_train, y_train)

predictions = regr.predict(X_test)

regr.score(X_train, y_train)

0.9543205539558499